---
import '../styles/moonwalk.scss'
import '../styles/global.css'
---

<div class="credits">©&nbsp;2023&nbsp;darkdarcool
  &nbsp;
  •
  &nbsp;Theme&nbsp; <a href="https://github.com/abhinavs/moonwalk" target="_blank" rel="noreferrer">Moonwalk</a>
</div>