---
import '../styles/moonwalk.scss'
import '../styles/global.css'
---

<ul class="horizontal-list">
  <li>
    <a href = "/"> home </a>
    </a>
    &nbsp;&nbsp;
  </li>

  <li>
    <a href="blog">
      blog
    </a>
    &nbsp;&nbsp;
  </li>
</ul>

<div class = "dashed"></div>